.itemCard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* display */
  width: 200px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
  /* container */
  font-size: 0.75em;
  font-family: 'Lato', sans-serif;
  color: #b18d51;
  background-color: white;
  /* content */
  flex-grow: 1;
}

.userIC {
  cursor:pointer;
  display: flex;
  align-items: center;
  padding: 7px;
  /* display */
}
.userIconIC > img{
  display: block;
  /* display */
  width: 35px;
  height: 35px;
  /* container */
  opacity: 0.3;
  transition: opacity 0.1s ease;
}
.userIconIC > img:hover {
  opacity: 1;
  /*TODO for the lulz remove when dp is implemented*/
}
.userNameIC{
  margin-left: 7px;
  font-size: 1em;
  font-weight: bold;
  /* content */
}

.mapIC {
  height: 123px;
  width: 200px;
  max-width: 200px;
  align-self: center;
  /* container */
}

.dataIC {
  color: #282520;
  flex-grow: 1;
}
.dataPartitionIC {
  display: flex;
  flex-direction: row;
  /* display */
}
.iconDPIC {
  /* container */
  text-align: right;
  /* content */
  font-weight:600;
}
.valueDPIC {
  color: #282520;
}
.pIC {
  padding: 2px 0px;
  flex-basis: 0;
  margin: 0px 5px;
  flex-grow: 1;
}

.btnIC {
  cursor:pointer;
  transition: all 0.2s ease;
  /* display */
  padding: 5px 0px;
  /* container */
  font-weight: bold;
  text-align: center;
  color: inherit;
  background-color: inherit;
  /* content */
}
.btnIC:hover {
  color: white;
  background-color: #b18d51;
  padding: 10px 0;
  /* content */
}
.btnCard {
  cursor: pointer;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-style: dashed;
  padding: 25px;
  height: 150px;
  border-color: rgb(0,0,0);
  color: rgb(0,0,0);
  opacity: 0.3;
  transition: all 0.2s ease;
}
.btnCard:hover {
  opacity: 0.6;
}
.btnIconIC > img{
  display: block;
  /* display */
  width: 40px;
  height: 40px;
  /* container */
  opacity: inherit;
}
