
#mapR {
  height: 100%;
  width: 100%;
  background-color: red;
  flex-grow: 1;
}
.box-fields {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 10px;
}
.box-fields > * {
  flex-grow: 1;
  margin: 5px;
}
