.input {
  transition: all 0.2s ease;
  font-size: inherit;
  border: 0;
  background-color: inherit;
  color: rgba(255,255,255,0.75);
  border-bottom: 0.2em solid rgba(255,255,255,0.25);
  margin: 10px 0;
  width: 200px;
}
.input:hover {
  border-bottom-color: rgba(255,255,255,1);
}
.input:focus {
  color: #c2ad99;
  border-bottom-color: #c2ad99;
}
input:invalid {
  box-shadow: none;
}
