html, body {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
  font-family: 'Lato', sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column;
  min-height: 100%;
  font-size: 0.8em;
  background-color: #282520;
}
.profileBtn {
  transition: all 0.2s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #d4cfc6;
  background-color: #282520;
  padding: 0 10px;
}
.profileBtn * {
  margin-right: 10px;
}
.profileBtn:hover {
  color: #b18d51;
}
#logout, #back {
  cursor: pointer;
  position: absolute;
  top: 2px;
  font-size: 0.8em;
  color: #d4cfc6;
  opacity: 0.8;
}
#logout:hover, #back:hover {
  opacity: 1;
}
#logout {
  right: 2px;
}
#back {
  left: 2px;
}
.box {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  padding: 10px 0;
  width: 100%;
}
.box > h1 {
  color: #d4cfc6;
}
