body{
  background-color: #282520;
  flex-flow: column;
  justify-content: flex-start;
}
#sbox {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  padding: 10px 0;
  width: 100%;
}
#sbox > h1 {
  padding-left: 10px;
  color: #d4cfc6;
}
#sbox-fields {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 10px;
}
#sbox-fields > * {
  flex-grow: 1;
  margin: 5px;
}
#sbox-fields > a {

}
#sbox-fields > a > .input {
  width: 100%;
  margin: 0;
}
@media only screen and (max-width: 900px) {
  #sbox {
    flex-flow: column;
  }
}
