.box > h1 {
  padding-left: 10px;
}
#sbox-fields {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 10px;
}
#sbox-fields > * {
  flex-grow: 1;
  margin: 5px;
}
#sbox-fields > a {

}
#sbox-fields > a > .input {
  width: 100%;
  margin: 0;
}
@media only screen and (max-width: 900px) {
  .box {
    flex-flow: column;
  }
  .box > h1 {
    padding-left: 0;
  }
}
